.travel-input {
  display: grid;
  grid-template-columns: auto calc(140px + 12vmin);
  column-gap: 16px;
  row-gap: 8px;
  align-items: center;
}

.travel-input > *:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
}

.travel-input > h3 {
  margin: 0;
}

.travel-input > label {
  text-align: right;
}

.travel-input > select {
  font-size: calc(10px + 1vmin);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  padding-left: 4px;
  max-width: 240px;
  height: 32px;
}

.travel-input > button {
  grid-column-start: 2;
  grid-column-end: 3;
  font-size: calc(10px + 1vmin);
  border-radius: 4px;
  background-color: #29752c;
  border: none;
  color: #eee;
  font-weight: bold;
  cursor: pointer;
  max-width: 240px;
  height: 32px;
}

.travel-input.hidden {
  display: none;
}
