.user-configuration {
  display: grid;
  grid-template-columns: auto calc(140px + 12vmin);
  column-gap: 16px;
  row-gap: 8px;
  align-items: center;
}

.user-configuration > *:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
}

.user-configuration > h3 {
  margin: 0;
}

.user-configuration > label {
  text-align: right;
}

.user-configuration > select {
  font-size: calc(10px + 1vmin);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  padding-left: 4px;
  max-width: 240px;
  height: 32px;
}

.user-configuration.hidden {
  display: none;
}
