.travel-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 2fr 2fr 2fr;
  column-gap: 16px;
  row-gap: 8px;
}

.travel-input > *:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
}

.travel-input > h3 {
  margin: 0;
}

.travel-input > label {
  text-align: right;
}

.travel-input > select {
  font-size: calc(10px + 1vmin);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  padding-left: 4px;
}

.travel-input > button {
  grid-column-start: 2;
  grid-column-end: 3;
  font-size: calc(10px + 1vmin);
  border-radius: 4px;
  background-color: #29752c;
  border: none;
  color: #ddd;
  font-weight: bold;
  cursor: pointer;
}

.travel-input.hidden {
  display: none;
}
