.navigation-bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: calc(200px + 32vmin);
  margin: auto;
}

.navigation-bar > button {
  font-size: calc(6px + 2vmin);
  border: none;
  color: #aaa;
  padding: 20px;
  background-color: #282c34;
  font-weight: bold;
  cursor: pointer;
  border: 0;
  outline: 0;
}

.navigation-bar > button.active {
  color: #eee;
  border-bottom: 6px solid #3c70ac;
  padding-bottom: 14px;
}

.navigation-bar > button:focus {
  color: #fff;
}

.navigation-bar > button:first-child {
  grid-column-start: 1;
  grid-column-end: 2;
}

.navigation-bar > button:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 3;
}