.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: calc(16px + 16vmin) calc(40px + 4vmin) auto;
  font-size: calc(10px + 1vmin);
  color: #eee;
}

.App > *:nth-child(1) {
  align-self: start;
}

.App > *:nth-child(2) {
  align-self: start;
}

.App > *:nth-child(3) {
  align-self: start;
}

main {
  padding: 16px;
  margin: 4vmin auto 0 auto;
}
